# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*

# Environment
.env
.env.local
.env.dev
.env.prod

# IDE
.vscode/
.idea/
*.swp

# Cache / virtualenv
venv/
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Logs
*.log.env
